<div id="contactMe" class="contactMe">

<div class="right-content">
 <h1> {{workTogetherText}} </h1>
 <span class="workTogetherContent">We can collaborate and do some amazing work. Please feel free to contact me. </span>
</div>
<div class="left-content">

<h1>Contact me </h1>
  <div class="socials">
    <ul>
    <li>
      <a href="https://www.facebook.com/shaan.gontia" target="_blank">
        <img class="ico-circle" alt="f" src={{fbSrc}}>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/shaangontia" target="_blank">
        <img class="ico-circle" alt="t" src={{twitterSrc}}>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/shaangontia/" target="_blank">
        <img class="ico-circle" alt="i" src={{instaSrc}}>
      </a>
     </li>
    <li>
      <a href="mailto:shaan.ce@gmail.com">
        <img class="ico-circle" alt="m" src={{mailSrc}}>
      </a>
    </li>
    </ul>
  </div>
</div>
</div>
