<section id="education" class=".education-section" style="background-color: #191a1d">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="subHeading">
          <h3>Experience</h3>

          <ul class="experience">
            <!--timeline item-->
            <li class="event">
              <h4>{{experience.oracle.designation}}</h4>
              <h5>
                <span class="date">{{experience.oracle.duration}}</span>
                <span class="company">{{experience.oracle.name}}, {{experience.oracle.location}}</span>
              </h5>
              <p>
                {{experience.oracle.description}}
              </p>
            </li>

            <!--timeline item-->
            <li class="event">
              <h4>{{experience.cura.designation}}</h4>
              <h5>
                <span class="date">{{experience.cura.duration}}</span>
                <span class="company">{{experience.cura.name}}, {{experience.cura.location}}</span>
              </h5>
              <p>
                {{experience.cura.description}}
              </p>
            </li>

            <!--timeline item-->
            <li class="event">
              <h4>{{experience.prime.designation}}</h4>
              <h5>
                <span class="date">{{experience.prime.duration}}</span>
                <span class="company">{{experience.prime.name}}, {{experience.prime.location}}</span>
              </h5>
              <p>
                Consectetur pariatur fugiat ipsam aperiam maiores. Nisi in
                dignissimos debitis expedita asperiores delectus.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="subHeading">
          <h3>Education</h3>
        </div>

        <ul class="education">
          <!--timeline item-->
          <li class="event">
            <h4>MTech. Computer Science</h4>
            <h5>
              <span class="date">2012-2014</span>
              <span class="company">Manipal Institute of Technology, Manipal, IN</span>
            </h5>
            <p>
              I have pursued Master of Technology from Manipal Institute of Technology, Manipal. Also, successfully
              finished my yearly internship at Oracle India Pvt Ltd. during the course.
            </p>
          </li>

          <!--timeline item-->
          <li class="event">
            <h4>B.Tech Computer Engineering</h4>
            <h5>
              <span class="date">2006-2010</span>
              <span class="company">CCET, Saurashtra University, IN </span>
            </h5>
            <p>
              I have pursued Bachelor of Technology from C. U. Shah College of Engg & Technology, Surendranagar. Also, successfully
                            finished my internship at BISAG, Gandhinagar for 6 months during the course.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
